<!----------------------------------------------------------------------------------------------------------------------
  -- rfiCard
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <BCard
        class="rfi-card"
        border-variant="light"
        header-bg-variant="dark"
        :header-border-variant="headerBorderVariant"
        :body-bg-variant="bodyBgVariant"
    >
        <template v-for="(_, name) in $slots" #[name]="slotData">
            <slot :name="name" v-bind="slotData ?? {}" />
        </template>
    </BCard>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<script lang="ts" setup>

    // FIXME: The typing is wrong on these variants, the `-subtle` variants are not available
    const headerBorderVariant = 'light-subtle' as unknown as 'light';
    const bodyBgVariant = 'dark-subtle' as unknown as 'dark';
</script>

<!--------------------------------------------------------------------------------------------------------------------->
