<!----------------------------------------------------------------------------------------------------------------------
  -- SiteHeader
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <BNavbar variant="dark" data-bs-theme="dark">
        <BNavbarBrand href="/">
            <img src="/images/rfi_eris_logo_sml.png" alt="Eris Logo" width="30" height="30" class="d-inline-block align-top" />
            Eris
        </BNavbarBrand>
        <BNavbarNav class="me-auto">
            <BNavItem href="/">
                <FaIcon :icon="[ 'fass', 'home' ]"></FaIcon>
                Home
            </BNavItem>
            <BNavItem href="/chat">
                <FaIcon :icon="[ 'fasr', 'comments' ]"></FaIcon>
                Chat
            </BNavItem>
        </BNavbarNav>
        <BNavbarNav class="mb-auto">
            <BNavItemDropdown text="Links" right>
                <BDropdownItem to="/about">
                    <FaIcon :icon="[ 'fasr', 'circle-question' ]"></FaIcon>
                    About
                </BDropdownItem>
                <BDropdownItem
                    href="https://gitlab.com/skewed-aspect/seed-projects/vue3-bootstrap"
                    target="_blank"
                >
                    <FaIcon :icon="[ 'fab', 'gitlab' ]" style="color: #f90"></FaIcon>
                    GitLab Project
                </BDropdownItem>
            </BNavItemDropdown>
        </BNavbarNav>
    </BNavbar>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style scoped lang="scss">

</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script setup lang="ts">

</script>

<!--------------------------------------------------------------------------------------------------------------------->
