<!----------------------------------------------------------------------------------------------------------------------
  -- messageBlock
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <div class="message-block d-flex">
        <BAvatar rounded="lg" size="50" class="me-2" :src="author.avatar" :alt="author.username" />
        <div class="content flex-fill">
            <div class="author-line">
                <div class="author-block">
                    <div class="name">
                        {{ author.fullName }}
                    </div>
                    <div class="username">
                        @{{ author.username }}
                    </div>
                </div>
            </div>
            <div class="messages">
                <div v-for="message in props.messages" :key="message.id">
                    {{ message.content }}
                </div>
            </div>
        </div>
    </div>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss" scoped>
    .message-block {
        .author-line {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5px;

            .author-block {
                .name {
                    font-weight: bold;
                    font-size: 0.95em;
                }

                .username {
                    font-size: 0.75em;
                    color: #666;
                }
            }
        }

        .content {
            .messages {
                display: flex;
                flex-direction: column;
                gap: 0.15em;
                font-size: 0.90em;
            }

        }
    }
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script lang="ts" setup>
    import { computed } from 'vue';

    // Models
    import { ChatMessage } from '../../../common/models/chats.js';
    import { PersonaExternal } from '../../../common/models/personas.js';

    //------------------------------------------------------------------------------------------------------------------
    // Component Definition
    //------------------------------------------------------------------------------------------------------------------

    interface Props
    {
        messages : ChatMessage[];
        persona : PersonaExternal;
    }

    const props = defineProps<Props>();

    //------------------------------------------------------------------------------------------------------------------
    // Computed Properties
    //------------------------------------------------------------------------------------------------------------------

    const author = computed(() => props.persona);
</script>

<!--------------------------------------------------------------------------------------------------------------------->
