<!----------------------------------------------------------------------------------------------------------------------
  -- Chat Page
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <BContainer id="chat-page" fluid>
        <div>ChatID: {{ chatID }}</div>
        <div>ChatName: {{ chatName }}</div>
        <div>
            Participants:
            <ul>
                <li v-for="member in chatMembers" :key="member.username">
                    {{ member.fullName }} <span class="text-muted"> ({{ member.username }})</span>
                </li>
            </ul>
        </div>
        <hr>
        <div class="chat-content">
            <MessageBlock
                v-for="(group, index) in groupedMessages"
                :key="index"
                class="mt-2 mb-2"
                :messages="group.messages"
                :persona="getMember(group.author)"
            />
        </div>
    </BContainer>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<script lang="ts" setup>
    import { computed, onMounted, ref } from 'vue';
    import { useRoute } from 'vue-router';

    // Models
    import { PersonaExternal } from '../../common/models/personas.js';

    // Engines
    import messageEngine from '../lib/engines/messages.js';

    // Managers
    import chatMan, { ChatState } from '../lib/managers/chat.js';

    // Components
    import MessageBlock from '../components/chat/messageBlock.vue';

    // -----------------------------------------------------------------------------------------------------------------

    const loaded = ref<boolean>(false);
    const chatState = ref<ChatState>({ chat: null, messages: [] });
    const route = useRoute();

    // -----------------------------------------------------------------------------------------------------------------
    // Computed Properties
    // -----------------------------------------------------------------------------------------------------------------

    const chatID = computed<string>(() => route.params.chatID as string);

    const chatMembers = computed<PersonaExternal[]>(() =>
    {
        if(!loaded.value)
        {
            return [];
        }
        else if(!chatState.value.chat)
        {
            return [];
        }
        else
        {
            return chatState.value.chat.members;
        }
    });

    const chatName = computed<string>(() =>
    {
        if(!loaded.value)
        {
            return '';
        }
        else if(!chatState.value.chat)
        {
            return 'Chat Not Found';
        }
        else if(!chatState.value.chat.name)
        {
            return `${ chatState.value.chat.members.map((mem) => mem.fullName).join(', ') } Chat`;
        }
        else
        {
            return chatState.value.chat.name;
        }
    });

    const groupedMessages = computed(() =>
    {
        if(!loaded.value)
        {
            return [];
        }

        return messageEngine.groupMessages(chatState.value.messages);
    });

    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------

    function getMember(username : string) : PersonaExternal
    {
        // TODO: Better fallback for missing members
        return chatMembers.value.find((mem) => mem.username === username) || { username, fullName: username, avatar: '' };
    }

    // -----------------------------------------------------------------------------------------------------------------
    // Lifecycle Hooks
    // -----------------------------------------------------------------------------------------------------------------

    onMounted(async () =>
    {
        console.log('chatId:', route.params.chatID);

        // Always start with the loaded state as false
        loaded.value = false;

        // Load the chat
        chatState.value = await chatMan.loadChat(chatID.value);

        // Set the loaded state to true
        loaded.value = true;
    });
</script>

<!--------------------------------------------------------------------------------------------------------------------->
