<!----------------------------------------------------------------------------------------------------------------------
  -- Main Page
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <BContainer id="main-page" class="mt-2">
        <div>
            <h1 class="text-center">Universe Platform, Universal Messaging</h1>
            <img src="/images/rfi_eris_logo_orange.png" width="300" height="300" alt="Eris Logo" class="rounded float-end">
            Eris is your gateway to seamless communication across the cosmos. Designed for the future, Eris leverages
            the power of GalNet and subspace radio to connect people from every corner of the universe. Whether you're
            light-years apart or just next door, Eris brings you closer to friends, family, and communities through
            advanced, reliable messaging and interactive features.

            <BFormRow class="mt-4">
                <BCol offset="3" cols="6">
                    <BButton
                        variant="outline-secondary"
                        class="w-100"
                    >
                        <FaIcon :icon="[ 'fass', 'arrow-right-to-bracket' ]"></FaIcon>
                        Log In / Register
                    </BButton>
                </BCol>
            </BFormRow>

            <h4 class="mt-4">Benefits of Using Eris:</h4>

            <ul>
                <li>
                    <b>Universal Connectivity:</b> Break the barriers of distance with real-time messaging and our
                    brand new holographic interactions that make you feel like you're in the same room, no matter where
                    you are in the galaxy. <i>(Where supported.)</i>
                </li>
                <li>
                    <b>Advanced Technology:</b> Experience the cutting-edge of communication with intuitive
                    interfaces, holographic display support, and seamless integration with the latest tech devices.
                </li>
                <li>
                    <b>Diverse Communities:</b> Join trillions of users from diverse backgrounds and interests.
                    Engage in meaningful conversations, share your passions, and discover new ideas in vibrant,
                    inclusive spaces.
                </li>
                <li>
                    <b>Secure and Reliable:</b> Your privacy and security are our top priorities. With
                    state-of-the-art encryption and robust infrastructure, Eris ensures that your communications
                    are safe and reliable.
                </li>
                <li>
                    <b>Customizable Experience:</b> Tailor your Eris experience to suit your needs with
                    customizable settings, themes, and notification preferences, making it truly your own.
                </li>
            </ul>

            Step into the future of communication with Eris. Join us and be part of a community that spans the stars.
       </div>
        <div class="mt-4 mb-5">
            <h1 class="text-center">By Communities, For Communities</h1>
            <img src="/images/communities.webp" alt="Eris Community Image" class="img-fluid rounded w-50 float-end">
            <p>Welcome to the heart of GalNet, where every subspace signal brings us closer together. Here at Eris, we
                believe that communities thrive when they are built by the people, for the people. In this vast
                universe, connection is more important than ever, and our platform is designed to bridge the distances
                between stars and civilizations.
            </p>
            <p>Join us in creating vibrant, dynamic spaces where ideas flow as freely as the subspace currents. Whether
                you're discussing the latest tech from Corona Noir Ki, sharing art from the Highlands Cluster, or simply
                catching up with friends from across the cosmos, Eris is your hub for meaningful interactions and
                shared experiences.
            </p>
            <p>Together, let's build the future of communication, one community at a time.
            </p>
            <p class="text-center">
                <b>Welcome to Eris: where the universe comes to connect.</b>
            </p>
        </div>
    </BContainer>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<script lang="ts" setup>
    import RFICard from '../components/ui/rfiCard.vue';

</script>

<!--------------------------------------------------------------------------------------------------------------------->
