<!----------------------------------------------------------------------------------------------------------------------
  -- Main App Component
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <div id="main-container">
        <SiteHeader />
        <RouterView />
    </div>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss" scoped>
  #main-container {
    // The 64px is the height of the navbar
    height: calc(100% - 64px);
    overflow: hidden;
  }
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script lang="ts" setup>
    import SiteHeader from './components/ui/siteHeader.vue';
</script>

<!--------------------------------------------------------------------------------------------------------------------->
